@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Gotham-Book;
    src: url("/assets/fonts/GothamSSm-Book_Web.woff2") format("opentype");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("/assets/fonts/GothamSSm-Bold_Web.woff2") format("opentype");
}

@font-face {
    font-family: Gotham-Light;
    src: url("/assets/fonts/GothamSSm-Light_Web.woff2") format("opentype");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("/assets/fonts/GothamSSm-Medium_Web.woff2") format("opentype");
}

@layer components {
    .limit-width {
        @apply 2xl:max-w-5xl 2xl:mx-auto;
    }
    
    .text-gray {
        @apply text-neutral-700
    }
}